.header {
    background: #ffffff;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
}

/* .header span {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.header .green {
    color: #42f48f;
} */

.header #logo {
    width: 135px;
    height: auto;
}
