body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ReactModalPortal {
  position: relative;
  z-index: 9999;
}

#logo-container {
  text-align: center;
}

#logo-container #logo {
  width: 150px;
  margin: 20px 0 30px 0;
}

.error {
  color: red;
  padding-left: 20px;
  font-style: italic;
}

.form-status {
  color: green;
  padding-left: 20px;
  font-style: italic;
}