
/* grayscale */
.leaflet-tile-pane {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

/* geosearch form css */
.leaflet-right .leaflet-control-geosearch form {
    right: 28px;
    left: initial;
    border-radius: 4px 0 0 4px;
    border-left: inherit;
    border-right: none;
}

/* spacing */
.leaflet-top.leaflet-right {
    margin-top: 15px;
    margin-right: 15px;
}

 /* control icons */
.leaflet-control-zoom.leaflet-bar.leaflet-control,
.leaflet-control-zoom.leaflet-bar.leaflet-control a,
.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch {
    background: #ffffff;
    border: none;
}

/* plus icon */
.leaflet-control-zoom.leaflet-bar.leaflet-control .leaflet-control-zoom-in {
    background: #ffd300;
}

#map-container .btn {
    text-decoration: none;
    border: none;
    padding: 10px;
    background: #fff;
    color: #000;
    /* position: absolute; */
    /* bottom: 20px; */
    /* left: 10px; */
    /* z-index: 9999; */
}

#map-container .btn-reportButton {
    border: 2px solid #ff0000;
    padding: 10px;
    font-weight: bold;
    margin: 20px;
    width: 70%;
}

#map-container .btn-reportButton:hover {
    background:#ff0000;
    color: #ffffff;
}
/* #ffd200 */
/* #ff0000 */

.btn:focus {
    border: none;
}