.reportModal .btn-container{
    text-align: center;
}

.reportModal-title {
    padding-left: 15px;
}

.ReactModalPortal .sub-text {
    padding-left: 15px;
    font-style: italic;
}

fieldset {
    border: none;
}

.reportModal-form fieldset .label {
    display: block;
    padding-bottom: 10px;
    text-transform: uppercase;
    color:#A8A8A8;
    font-size: 0.7em;
}

.reportModal-form input {
    border: 1px solid #d9d9d9;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
}

.reportModal-form select {
    padding: 10px;
}

.btn-divs {
    text-align: right;
    padding-top: 30px;
}

.btn.btn-modalBtns {
    text-align: right;
    background: #ffffff;
    border: 2px solid #ffd200;
    padding: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.btn.btn-modalBtns:hover {
    background: #ffd200;
    color: #ffffff;
}

.toggle-features {
    padding: 20px;
    background: #ffffff;
    z-index: 9999;
    position: absolute;
    left: 25px;
    top: 25px;
    min-width: 253.17px;
    -webkit-box-shadow: 8px 10px 10px -6px #777;
    -moz-box-shadow: 8px 10px 10px -6px #777;
         box-shadow: 8px 10px 10px -6px #777;
}

.toggle-features fieldset img {
    padding: 0 10px;
}
.toggle-features .expand-collapse {
    text-align: center;
}
.toggle-features .expand-collapse button {
    background: white;
    border: none;
}
.toggle-features .toggle-img {
    width: 30px;
}